<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat App</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"
    ></script>
    <link rel="stylesheet" href="../css/chat.css" />  
  </head>
  <body class="" id="body">
    <div class="chatList" id="user-list">
      <div class="me"><%= currUser %></div>
      <% friends.forEach(friend => { %>
      <div class="user">
        <img src="<%= friend.avatarUrl %>" alt="" />
        <span><%= friend.username %></span>
      </div>
      <% }) %>
    </div>

    <div class="chat-area">
      <div class="messages" id="chat-box"></div>
      <div class="input-area">
        <input type="text" id="message-input" placeholder="Type a message..." />
        <button id="emoji-btn">😊</button>
        <button id="send-btn">Send</button>
      </div>
      <emoji-picker
        style="position: absolute; bottom: 60px; right: 100px; display: none"
        id="emoji-picker"
      ></emoji-picker>
    </div>

    <button class="toggle-dark" id="toggle-theme">🌙</button>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="../js/chat.js"></script>
  </body>
</html>
