<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search People</title>
    <link rel="stylesheet" href="../css/connect.css" />
  </head>

  <body>
    <%- include('sidebar') %>
    <div class="content">
      <div class="container">
        <input type="text" id="searchInput" placeholder="Search..." />
        <ul id="peopleList">
          <li>
            <div class="profile">
              <img src="pfp.png" alt="Profile" />
              <div class="info">
                <a
                  href="profile.html"
                  style="text-decoration: none; color: black"
                >
                  <div><strong>John Doe</strong></div>
                </a>
                <div>Followers: 120</div>
                <div>Following: 180</div>
              </div>
            </div>
            <button>Connect</button>
          </li>
          <li>
            <div class="profile">
              <img src="pfp.png" alt="Profile" />
              <div class="info">
                <a
                  href="profile.html"
                  style="text-decoration: none; color: black"
                >
                  <div><strong>Jane Smith</strong></div>
                </a>
                <div>Followers: 250</div>
                <div>Following: 100</div>
              </div>
            </div>
            <button>Connect</button>
          </li>
          <li>
            <div class="profile">
              <img src="pfp.png" alt="Profile" />
              <div class="info">
                <a
                  href="profile.html"
                  style="text-decoration: none; color: black"
                >
                  <div><strong>Michael Brown</strong></div>
                </a>
                <div>Followers: 300</div>
                <div>Following: 200</div>
              </div>
            </div>
            <button>Connect</button>
          </li>
          <li>
            <div class="profile">
              <img src="pfp.png" alt="Profile" />
              <div class="info">
                <a
                  href="profile.html"
                  style="text-decoration: none; color: black"
                >
                  <div><strong>Yashwardhan Singh Chouhan</strong></div>
                </a>
                <div>Followers: 300</div>
                <div>Following: 200</div>
              </div>
            </div>
            <button>Connect</button>
          </li>
          <li>
            <div class="profile">
              <img src="pfp.png" alt="Profile" />
              <div class="info">
                <a
                  href="profile.html"
                  style="text-decoration: none; color: black"
                >
                  <div><strong>Ayush .</strong></div>
                </a>
                <div>Followers: 300</div>
                <div>Following: 200</div>
              </div>
            </div>
            <button>Connect</button>
          </li>
          <li>
            <div class="profile">
              <img src="pfp.png" alt="Profile" />
              <div class="info">
                <a
                  href="profile.html"
                  style="text-decoration: none; color: black"
                >
                  <div><strong>Atin Chowdhary</strong></div>
                </a>
                <div>Followers: 300</div>
                <div>Following: 200</div>
              </div>
            </div>
            <button>Connect</button>
          </li>
          <li>
            <div class="profile">
              <img src="pfp.png" alt="Profile" />
              <div class="info">
                <a
                  href="profile.html"
                  style="text-decoration: none; color: black"
                >
                  <div><strong>Naman Goyal</strong></div>
                </a>
                <div>Followers: 300</div>
                <div>Following: 200</div>
              </div>
            </div>
            <button>Connect</button>
          </li>
        </ul>
      </div>
    </div>
    <script src="../js/connect.js"></script>
    <script src="../js/background.js"></script>
  </body>
</html>
