* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #262626;
  background: linear-gradient(#6b48ff, #6b48ff22);
  transition: background-color 1s ease-in-out;
}

.container {
  height: 100dvh;
  max-width: 1050px;
  margin: 0 0;
  margin-bottom: 40px;
  padding: 30px 20px;
  text-align: center;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 30px;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  flex: 1;
  text-align: left;
}

.profile-info-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.edit-profile,
.archive {
  background: transparent;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 4px;
  padding: 5px 9px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 5px;
}

.settings {
  margin-left: 10px;
  cursor: pointer;
}

.profile-stats {
  display: flex;
  margin-bottom: 10px;
}

.stat {
  margin-right: 20px;
}

.stat span {
  font-weight: 600;
}

.footer {
  font-size: 15px;
  color: #0c0c0c;
  text-align: center;
  font-weight: bold;
  position: fixed;
  bottom: 0;
}

.footer a {
  color: #090808;
  text-decoration: none;
  margin: 0 10px;
}

.profile-bio p {
  font-size: 16px;
  line-height: 1.5;
}

.posts-nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dbdbdb;
  margin-bottom: 10px;
}

.nav-item2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-item2.active {
  color: #262626;
  border-top: 1px solid #262626;
  margin-top: -1px;
}

.nav-item2 i {
  margin-right: 6px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.post {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.post img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}

.hidden {
  display: none;
}

@media (max-width: 735px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-pic {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .profile-info-header {
    justify-content: center;
  }

  .profile-stats {
    justify-content: center;
  }

  .posts-grid {
    grid-gap: 3px;
    max-height: 300px;
  }
}
